
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GPS over Blueooth LE (LN service)
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GPS over Blueooth LE (LN service)</ion-title>
    </ion-toolbar>
  </ion-header>
-->
  <div id="container">
    <div>
	    Share my location via Bluetooth LE<br><br>
    </div>
    <div> &nbsp;</div>
    <div>
    Watching GPS started:
    <label class="switch">
	    <input type="checkbox" [checked]="isWatchGpsStarted" [(ngModel)]="isWatchGpsStarted">
      <span class="slider round"></span>
    </label>
    </div>
    <div> &nbsp;</div>
    <div>
        Bluetooth services started:
    	<label class="switch">
	    <input type="checkbox" [checked]="isBluetoothServicesStarted" [(ngModel)]="isBluetoothServicesStarted">
      <span class="slider round"></span>
    </label>
    </div>
    <!--<div> &nbsp;</div>
    <div (click)="registerBluetoothStateChangeCallback()">
      <a>Register Bluetooth State Change</a> 
    </div>-->

  </div>
<!--
	</ion-content>
-->
